@import './src/styles';

.tarot-response {
  background-color: $tarot_common;
  width: 60em;
  border: 2px solid $black;
  border-radius: 25px;
  padding: 20px;
}

.tarot-response_text {
  @include text-14();
  font-style: italic;
}
