@import './src/styles';

.tarot-response {
  background-color: $tarot_common;
  width: 25rem;
  border: 2px solid $black;
  border-radius: 25px;
  padding: 20px;

  @include for-extra-small {
    width: 18rem;
  }

  @include for-tablet-up {
    width: 40rem;
  }

  @include for-small-desk-up {
    width: 60rem;
  }
}

.tarot-response_text {
  @include text-14();
  font-style: italic;
}
