<div class="wrapper">
  <div class="add-button" (click)="showAddForm = !showAddForm">Добавить</div>
  <form class="add-form" [formGroup]="addForm" *ngIf="showAddForm">
    <div class="form-element">
          <textarea
            [formControlName]="'text'"
          >
    </textarea>
    </div>
    <div class="form-element">
      <div class="button" (click)="saveTost()">Сохранить</div>
    </div>
  </form>
  <div class="tosts-grid">

    <div class="tost-card"
         *ngFor="let item of (tostList$ | async)"
    >
      <app-tost-edit-card [item]="item"></app-tost-edit-card>
    </div>

  </div>
</div>

