.wrapper{
  margin-right: 20%;
  margin-left: 20%;
}

.tosts-grid {
  display: flex;
  flex-wrap: wrap;

}

.tost-card {
  margin-right: 20px;
  margin-bottom: 20px;
}


.button{
  border: 1px solid darkorange;
  border-radius: 10px;
  text-align: center;

  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
}

.button{
  border: 1px solid darkorange;
  border-radius: 10px;
  text-align: center;

  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
}

.add-button{
  border: 1px solid royalblue;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;

  &:hover {
    background-color: greenyellow;
    cursor: pointer;
  }
}

.add-form{
  display: flex;
}
