@import './src/styles';

.footer-block {
  display: flex;
  height: 50px;
  background-color: $tarot_common;
  margin-top: 50px;
  padding: 24px;
  border-radius: 4px;
}

.footer-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-right-side {
  margin-left: auto;
}
