.header-block {
  display: flex;
  height: 80px;
  background-color: gold;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 2px;

}

.button {
  background-color: bisque;
  padding: 10px;
  border-radius: 8px;
  height: 30px;
  width: 100px;
  align-self: center;
  text-align: center;
  margin-right: 20px;
}
