.card{
  width: 200px;
  height: 150px;
  text-align: center;
  vertical-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 4px;
}

.form-element{
 margin-bottom: 10px;
}

.button{
  border: 1px solid darkorange;
  border-radius: 10px;
  text-align: center;

  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
}
