<div class="future-telling">

  <form class="tarot-form" [formGroup]="tarotForm">

    <div class="cards-block">
      <div class="tarot-card-view">
        <app-tarot-selected-card-view
          (onCloseClick)="pullCard(0)"
          (onOpenClick)="showCardDetails(0)"
          [card]="tarotForm.controls.cards.at(0).value"></app-tarot-selected-card-view>
      </div>

      <div class="tarot-card-view">
        <app-tarot-selected-card-view
          (onCloseClick)="pullCard(1)"
          (onOpenClick)="showCardDetails(1)"
          [card]="tarotForm.controls.cards.at(1).value"></app-tarot-selected-card-view>
      </div>

      <div class="tarot-card-view">
        <app-tarot-selected-card-view
          (onCloseClick)="pullCard(2)"
          (onOpenClick)="showCardDetails(2)"
          [card]="tarotForm.controls.cards.at(2).value"></app-tarot-selected-card-view>
      </div>
    </div>


    <div class="form-element buttons">
      <app-preloader-spinner [isLoading]="(requestStatus$ | async) === LOADING_STATUSES.LOADING"></app-preloader-spinner>

      <app-simple-button *ngIf="allFieldsFilled()"
                         (onClick)="sendQuestion()"
                         buttonTitle="Ask question"
                         [loadingStatus]="requestStatus$ | async"></app-simple-button>
    </div>

    <div class="tarot-question">
          <textarea
            placeholder="Question"
            [formControlName]="'question'"
          >
    </textarea>
    </div>

    <div class="language-block">
      <div>
        <input id="EN" type="radio" class="custom-control-input" value="EN" name="language" formControlName="language">
        <label class="custom-control-label" for="EN">EN</label>
      </div>
      <div>
        <input id="RU" type="radio" class="custom-control-input" value="RU" name="language" formControlName="language">
        <label class="custom-control-label" for="RU">RU</label>
      </div>

    </div>

    <div class="button reset-button" (click)="reset()">Reset</div>

  </form>

</div>

