<div class="future-telling">

  <form class="tarot-form" [formGroup]="tarotForm">

    <div class="cards-block">

      <div class="tarot-card-view" *ngFor="let cardIndex of selectedCardIndexes">
        <app-tarot-selected-card-view
          (onCloseClick)="pullCard(cardIndex)"
          (onOpenClick)="showCardDetails(cardIndex)"
          [card]="tarotForm.controls.cards.at(cardIndex).value"></app-tarot-selected-card-view>
      </div>
    </div>

    <div class="response-gotten-message"
         *ngIf="responseAlreadyGot"
    >
      <span class="response-gotten-message_text">{{collocations.responseAlreadyGot}}</span>
    </div>

    <div class="form-element buttons">
      <!--wrapper with double ngIf for avoid bag with multiple animations https://github.com/angular/angular/issues/26133-->
      <div *ngIf="allFieldsFilled()">
        <app-simple-button @appearDisappearTrigger
                           *ngIf="allFieldsFilled()"
                           (onClick)="sendQuestion()"
                           [buttonTitle]="collocations.askButtonTitle"
                           [loadingStatus]="requestStatus$ | async"></app-simple-button>
      </div>

    </div>

    <div class="tarot-question">
          <textarea
            [placeholder]="collocations.questionPlaceholder"
            [formControlName]="'question'"
          >
    </textarea>
    </div>

    <div class="button reset-button" (click)="reset()">{{collocations.resetButtonTitle}}</div>

  </form>

</div>

