.card {
  width: 234px;
  height: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;


  &:hover {
    background-color: gainsboro;
    cursor: pointer;
    border: 3px solid black;
  }

  &.close-card {
    background-image: url(back.png);
    background-size: cover;

  }
}

.card-text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0c2303;
}

