/* You can add global styles to this file, and also import other style files */
$red: #f74027;
$tarot_common: #eeeac2;
$black: #000000;
$white_smoke: whitesmoke;
$wheat: wheat;


/* Adaptive breakpoints */
$phone: 559.9px !default;
$tablet: 749.9px !default;
$small_desk: 999.9px !default;
$large_deck: 1199.9px !default;

$max-content-width: 1440px;


@mixin border-default($border-color: $red) {
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 2px;
}


$inter_font: Inter, serif;
$serif_font: PT Serif, serif;
$fantasy_font: Trattatello, fantasy;
$brush_font: Brush Script MT, Brush Script Std, cursive;
$roundhand_font: Snell Roundhand, cursive;

/* Заголовки и подзаголовки */
@mixin text-h0($text-color: $red) {
  font-family: $serif_font;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: $text-color;
}

@mixin text-h2($text-color: $black) {
  @include text-h0($text-color);
  font-size: 40px;
  line-height: 48px;
}

@mixin text-20($text-color: $black) {
  @include text-h0($text-color);
  font-size: 20px;
  line-height: 28px;
}

@mixin text-16($text-color: $black) {
  @include text-h0($text-color);
  font-size: 16px;
  line-height: 24px;
}

@mixin text-14($text-color: $black) {
  @include text-h0($text-color);
  font-size: 14px;
  line-height: 24px;
}

@mixin text-10($text-color: $black) {
  @include text-h0($text-color);
  font-size: 10px;
  line-height: 18px;
}


/* media queries for adapt */

@mixin for-extra-small {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin for-phone-up {
  @media screen and (min-width: $phone) {
    @content;
  }
}

@mixin for-tablet-up {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin for-tablet-down {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin for-small-desk-up {
  @media screen and (min-width: $small_desk) {
    @content;
  }
}

@mixin for-large-desk-up {
  @media screen and (min-width: $large_deck) {
    @content;
  }
}

// фон за модалками
.p-dialog-mask.p-component-overlay {
  background-color: rgba(62, 73, 62, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
}

.app_button {
  cursor: pointer;
  border-radius: 2px;
  padding: 4px;
  width: 150px;
  height: 24px;
  background-color: $wheat;
  border: 2px solid #837739;
  @include text-16();
  text-align: center;
}
